
@import "fonts.css";
@import "reset.css";
@import "global.css";
@import "header.css";



@import "footer.css";

/* =============================================================== */






/* =================================================================== */



.news__inner {
    background: #DCE5E2;
    border-radius: 30px;
    position: relative;

}

.news__col {
    padding: 149px 0 127px 56px;
    max-width: 776px;
}

.news__title {
    font-family: var(--second-family);
    font-weight: 400;
    line-height: 1.2;
    font-size: 58px;
    padding-bottom: 15px;
    max-width: 588px;
}

.news__text {
    font-size: 16px;
    padding-bottom: 30px;
    max-width: 565px;
}

.news__img {
    max-width: 647px;
    width: 100%;



}


.news__swiper-slide {
    display: flex;
}


.news__prev,
.news__next {
    position: absolute;
    top: 46%;
    z-index: 11;

}

.news__next {
    left: 2%;
}

.news__prev {

    right: 2%;
}

.news__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 11;


}

.news__pagination span {
    width: 194px;
    border-radius: 0;
    height: 4px;

    background: #000;

}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


.main__products {
    padding-top: 47px;
}

.products__inner {}

.products__title {
    text-align: center;
    font-family: var(--second-family);
    font-size: 42px;
    padding-bottom: 9px;
}

.products__text {
    max-width: 628px;
    margin: 0 auto;
    padding-bottom: 55px;
}

.products__container {
    display: grid;
    grid-template-columns: 2.1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 0 16px;
}

.products__content {
    box-shadow: 0 4px 35px 0 #00000040;
}


.products__content h2 {
    line-height: 1.2;
    font-family: var(--second-family);
    font-size: 32px;

}

.products__grid-one {
    margin-bottom: 72px;
    padding: 0 42px;
}

.products__grid-one h2 {
    max-width: 192px;
}

.products__grid-one div {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
}

.products__grid-two {
    grid-column: 2;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 792px;
}

.products__grid-two p {
    padding-top: 40px;
}

.products__grid-three {
    grid-column: 3;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 792px;
}

.products__grid-three h2 {
    padding-bottom: 42px;
}

.products__grid-four {
    display: flex;
    text-align: end;
    justify-content: space-around;
    align-items: center;
    padding: 0 42px;
    gap: 15px;
    max-width: 639px;
    height: 270px;

}


.products__img {
    width: 100%;
}


/* ========================================================= */

.main__goods {
    padding: 72px 0 28px;
}

.goods__title {
    text-align: center;
    font-family: var(--second-family);
    font-size: 42px;
    padding-bottom: 9px;
}

.goods__text {
    text-align: center;
    font-size: 13px;
    padding-bottom: 31px;
}

.goods__inner {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.goods__container {
    max-width: 302px;
}

.goods__container img {
    padding-bottom: 38px;
}

.goods__content {}

.goods__content-title {
    font-family: var(--second-family);
    font-size: 22px;
    padding-bottom: 9px;
}

.goods__content-text {
    max-width: 261px;
    padding-bottom: 25px;
}

.goods__content-price {
    font-size: 18px;
}

/* =================================================================== */


.main__view {
    padding: 47px 0 28px;
}

.view__title {
    text-align: center;
    font-family: var(--second-family);
    font-size: 42px;
    padding-bottom: 9px;
}

.view__text {
    text-align: center;
    font-size: 13px;
    padding-bottom: 56px;
}

.view__inner {
    display: flex;
    justify-content: space-between;
    gap: 28px;
}

.view__container {
    width: 100%;
    max-width: 413px;
    border-radius: 16px;
    background: #f8f8f8;
}

.view__container-text {
    text-align: center;
    font-size: 13px;

}

.view__container-title {
    text-align: center;
    font-family: var(--second-family);
    font-size: 28px;
    padding-bottom: 30px;
}

.view__button {
    display: flex;
    margin: 0 auto;
    background: #fff;
    margin-bottom: 30px;
}

.view__img {
    display: flex;
    margin: 0 auto;
}


/* ==================================================================== */

.main__info {
    padding: 47px 0 24px;
}

.info__title {
    text-align: center;
    font-family: var(--second-family);
    font-size: 42px;
    padding-bottom: 9px;
}

.info__text {
    text-align: center;
    font-size: 13px;
    padding-bottom: 56px;
}

.info__inner {
    display: flex;
    gap: 35px;
    padding-bottom: 74px;
}

.info__container-text:first-child {
    padding-top: 14px;
}

.info__container-text {
    line-height: 1.25;
    font-size: 24px;
    padding-bottom: 28px;
}

.info__container-text:last-child {
    padding: 0;
}


.info__arrow {
    display: flex;
    justify-content: center;
    font-size: 24px;
}
/* =================================================================== */


.connection__inner {

    text-align: center;
}
.connection__title {
    font-family: var(--second-family);
    font-size: 42px;
}
.connection__form {
    padding: 18px 0 14px;
}
.connection__label {
    max-width: 660px;
    width: 100%;
    position: relative;
}
.connection__input {
    border: 1px solid #c5c5c5;
    border-radius: 100px;
    padding: 21px 67px 22px;
    max-width: 650px;
    height: 60px;
    width: 100%;
}
.connection__img {
    position: absolute;
    top: -23%;
    left: 4%;
}
.connection__input::placeholder {
    color: #000;
}
.connection__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px 7px;
    justify-content: center;
}
.connection__list div {
    display: flex;
    gap: 7px;

}

.connection__button {
    padding: 12px 22px 13px;
    border: 1px solid #c5c5c5;
    background: #fff;
}
.connection__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 61px 0 19px;
}
.connection__content {
    max-width: 935px;
    width: 100%;
    height: 450px;
    background: #dce5e2;
    border-radius: 16px;
}
.connection__content-title {
    font-size: 42px;
    font-family: var(--second-family);
    padding: 47px 0 9px;
}
.connection__container-text {
    padding-bottom: 9px;
}
.connection__content-img {
    padding-bottom: 13.5px;
}
.connection__content-label {
    display: flex;
    border-radius: 8px;
    overflow: hidden;
}
.connection__content-form {
    max-width: 400px;
    margin: 0 auto;
}
.connection__content-input {
    flex: 1;
    padding: 14px 16px;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 54px 0 0 54px;
    border: 1px solid #000;
}
.connection__content-input::placeholder {
    color: #000;
}
.signup-button {
    padding: 14px 24px;
    background: #000;
    color: white;
    border: none;
    border-radius: 0 200px 200px 0;
    font-size: 14px;
    cursor: pointer;
}

/* =================================================================== */



.footer {
    background: #8d8d8d1a;
    padding-top: 40px;
}

.footer__inner {
    display: grid;
    gap: 28px;
    grid-template-columns: .7fr .6fr .6fr .6fr .6fr;
    grid-template-rows: 200px;
    padding-bottom: 80px;
}

.footer__col img {
    padding: 10px 0 18px 0;
}

.footer__item {
    margin-bottom: 14px;
}
.footer__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}
.footer__link::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -8px;
    left: -13px;
    width: 24px;
    height: 24px;
    background: #dce5e2;
    border-radius: 50%;
    opacity: 0;
    transition: all .4s;
}
.footer__link:hover::before {
    opacity: 1;
}

.footer__item:first-child {
    margin-bottom: 19px;
}

.footer__link-one {
    font-family: var(--second-family);
    line-height: 0.27;
    font-size: 22px;
    margin-bottom: 19px;
}

.footer__end {
    padding-top: 52px;
    border-top: 1px solid rgb(141, 141, 141, .2);
}

/* ==================================================== */


@media (max-width: 1200px) {
    .products__container {
        display: grid;
        grid-template-columns: repeat(2, 48.5%);
        gap: 30px;


    }

    .products__grid-one {
        margin: 0;
    }

    .products__grid-two {
        grid-column: 1 / 2;
        grid-row: 1 / 1;
        max-height: 500px;

    }

    .products__grid-two img {
        max-width: 300px;
        width: 100%;

    }

    .products__grid-three {
        grid-column: 2 / 2;
        grid-row: 1 / 1;
        height: 500px;
    }

    .products__grid-three .products__img {
        height: 350px;
    }

    .products__grid-four {
        display: flex;
        flex-direction: column;
        align-items: end;
        height: auto;


    }

    .products__grid-four img {
        max-width: 450px;
        width: 100%;
        /* margin-bottom: 50px; */
    }

    .products__grid-four div {
    }

    .products__content {
        text-align: end;
    }

}

@media (max-width: 1100px) {



    .header__logo {
        width: 100%;
        display: flex;
        justify-content: start;
    }

    .header__nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: #fff;
        padding: 26vh 15px 30px;
        font-size: 24px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .4s;

    }

    .header__ul-list {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .body--opened-menu .header__nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    .header__logo {
        z-index: 11;
    }

    .list__icons {
        z-index: 11;
    }

    .header__label {
        width: 200px;
    }

    .drop__list {
        position: static;
    }

    .header__li-item:hover .drop__list {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
    }

    /* ==================================================== */
    .news__inner {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .news__swiper {
        display: flex;
        flex-direction: column;
        height: 500px;
        justify-content: center;
    }

    .news__col {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: none;
    }

    .news__img {
        display: none;
    }
    /* +========================================================== */
    .view__inner {
        display: grid;
        justify-self: center;
        grid-template-columns: repeat(2, 0.7fr);
    }
    .view__container-tree {
        grid-column: 1 / 3;
        justify-self: center;
    }
    /* ======================================================== */
    .info__title {
        font-size: 8vw;
    }
    .info__inner {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .info__content p {
        font-size: 4vw;
    }
    /* ======================================================== */
    .goods__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px 30px;
        justify-self: center;
    }


}

@media (max-width: 900px) {



    /* ==================================================== */
    .footer__inner {
        justify-content: space-between;
        grid-template-rows: auto auto;
        grid-template-columns: repeat(3, auto);

    }

    .footer__col-img {
        max-width: 394px;
    }
}

@media (max-width: 600px) {
    .header__logo {
        display: none;
    }

    /* ==================================================== */


    .news__title {
        font-size: 8vw;
    }
    /* ========================================= */
    .products__title {
        font-size: 8vw;
    }
    .products__text {
        text-align: center;
    }
    .products__container {
        display: block;
    }
    .products__content {
        margin-bottom: 15px;
        height: 450px;
    }
    .products__grid-one {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .products__grid-four {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .products__img {
        height: 300px;
    }
    .products__img img{
        height: 300px;
    }
    /* ==================================================== */
    .goods__title {
        font-size: 8vw;
    }
    .goods__inner {
        display: flex;
        flex-direction: column;
    }
    .goods__container {
        padding-bottom: 15px;
    }
    .goods__container:last-child {
        padding-bottom: 0;
    }
    .goods__container img {
        padding: 0;
    }
    /* ==================================================== */
    .view__title {
        font-size: 8vw;
    }
    .view__inner {
        display: flex;
        flex-direction: column;
    }
    /* ==================================================== */
    .connection__title {
        font-size: 8vw;
    }
    .connection__list {
        display: flex;
        flex-direction: row;
    }
    .connection__list div {
        display: block;
    }
    .connection__content-title {
        font-size: 8vw;
    }
    .connection__content-text {
        padding-bottom: 8px;
    }
    /* ==================================================== */
    .footer__inner {
        justify-content: space-between;
        grid-template-rows: auto auto;
        grid-template-columns: repeat(2, auto);

    }

}

@media (max-width: 450px) {

    .header__label {
        width: 100%;
    }

    /* ==================================================== */
    .news__swiper {
        height: 400px;
    }


    /* ==================================================== */
    .footer__inner {
        justify-content: center;
        grid-template-rows: auto auto;
        grid-template-columns: repeat(1, auto);
        text-align: center;

    }
    .footer__link::before {
        content: '';
    position: absolute;
    z-index: -1;
    top: -8px;
    left: -13%;
    width: 24px;
    height: 24px;
    background: #dce5e2;
    border-radius: 50%;
    opacity: 0;
    transition: all .4s;
    }
}