body {
    background: #000;
}
.lorem {
    color: #fff;
}


.wrapper {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 600px;
}
.block {
    background: #fff;
    width: 500px;
    height: 40px;
    border-radius: 10px;
    position: fixed;
    right: 50px;
    bottom: 10%;

    
    
}

.ring {
    background: #f00e0e;
    width: 40px;
    height: 40px;
    border-radius: 1000px;
    position: absolute;
    left: 14%;
    bottom: 40%;


}
